
  <div class="row justify-content-center">
    <div class="container text-start d-flex  flex-wrap">

    <div *ngFor="let anuncio of anuncios"  class="card m-2">
      <img src='{{anuncio.image}}' class="card-img-top" alt="A imagem do carro">
      <div class="card-body  bg-dark">
        <h5 class="card-title text-white">Titulo: {{anuncio.title}}</h5>
        <p class="card-text text-white">Descrição: {{anuncio.description}}</p>
        <p class="card-text text-white">Data: {{anuncio.date}}</p>
        <p class="card-text text-white">Preço: {{anuncio.price}}</p>
        <p class="card-text text-white">Status: {{anuncio.status}}</p>
      </div>
    </div>
  </div>
</div>
